
.root {
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#f71372, #a42af5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board{
  // Override Automatic Minimum Size
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
  min-height: 0;
  .board-bar{
      background: rgba(gray,0.5);
      padding: 8px 15px;
      height: 10px;

      .board-name {
          font-size: 20px;
          font-weight: bold;
          color: rgb(255,255,255);
      }
  }
}

.board-wrapper {
  display: flex;
  flex-direction: row;
}

.grid_box{

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 // width: 450px;
 // height: 300px;
  width: 385px;
  height: 385px;
  background: rgba(white,0.5);
}
.grid_cell{
  display: inline;
}

.tiles{
  padding:5px;

  height: 60px;
  width: 60px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom:15px;
  margin-right: 5px;
  margin-bottom:5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.blueTiles {
 // background: blue;
 background-image: url('src/assets/blue.jpg');

 background-repeat: no-repeat;
 background-position: center-top;
 width: 60px;
 height: 60px;
}

.blackTiles {
  //background: red;
  background-image: url('src/assets/black.png');

  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.whiteTiles {
  //background: red;
  background-image: url('src/assets/white.png');

  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.brownTiles {
  //background: red;
  background-image: url('src/assets/brown.png');

  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.redTiles {
  //background: red;
  background-image: url('src/assets/redcolour.jpg');

  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}

.greenTiles {
 background-image: url('src/assets/Greencandy.png');
  //background: green;
  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.yellowTiles {
  background-image: url('src/assets/yellowcolor.jpg');
  //background: green;
  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.violetTiles {
 background-image: url('src/assets/Purplejelly.png');
  //background: green;
  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.orangeTiles {
 background-image: url('src/assets/orangecolor.jpg');
  //background: green;
  background-repeat: no-repeat;
  background-position: center-top;
  width: 60px; // any width
  height: 60px; // any height
}
.grid_row{
  display: flex;
  flex-direction: row;
}
.grid_cell:hover{
 // background-color: yellow; /* make this whatever you want */
  opacity: 0.3;
  cursor: pointer;
 // transform: scale(1.5);
  }
.stats{
  float: right;

  padding: 15px;
  display: block;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:#a42af5;

}
.game-stats{
  //float: right;

  position: absolute;
  right: 0;
}
.level{
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:#a42af5;
}
a:hover {
  color: hotpink;
}
