<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
        </div>

      </div>
    </div>
    <div class="board">
      <div class="board-bar">
       <!--  <p class="board-name"><a href routerLink="register">Register</a></p>-->
      </div>
      <ul>
        <li *ngFor="let users of users let idx = index"><a href = "/user/{{users.user_id}}"> {{idx}} {{users.email}} </a></li>
      </ul>

      <div class="board-wrapper">
          <div class = "game-stats">
            <div>
              <p>Target Score: {{this.scoreToBeat}}</p>
            </div>
            <div>
              <p>Current Score: {{this.score}}</p>
            </div>
            <div>
              <p>Turns Left: {{this.turns}}</p>
            </div>
          </div>
        <div class="grid_box board-rows">
          <div>
            <div class="grid_row" *ngFor="let candyRow of board.grid">

              <div class="grid_cell" *ngFor="let candy of candyRow">

                <div class="tiles {{candy.type}}Tiles"
                (swipeleft)="onSwipeLeft($event, candy)"
                (swiperight)="onSwipeRight($event, candy)"
                (swipeup)="onSwipeUp($event, candy)"
                (swipedown)="onSwipeDown($event, candy)"
                [@animateCandy] = "candy.type"

                ></div>

              </div>
            </div>
            <a href = "/grid">Reset</a>
          </div>
        </div>
      </div>
      {{this.user.user_id}} {{this.user.email}}   {{this.user.password}}

    </div>

    <a href ='/logout'>logout</a>
  <button (click) ="logout()"> Logout</button>

</div>
