<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Candy Crush</h1>
      </div>
      <div class="game-stats">
        <div class="stats 1">
          <p>Target Score: {{this.scoreToBeat}}</p>
        </div>
        <div class="stats 2">
          <p>Current Score: {{this.score}}</p>
        </div>
        <div class="stats 3">
          <p>Turns Left: {{this.turns}}</p>
        </div>
        <!--  <p class="board-name"><a href routerLink="register">Register</a></p>-->
      </div>
      <div class="level"> <a href routerLink="/map">Levels</a></div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">

      <div class="board-wrapper">

      </div>
      <div class="grid_box board-rows" [style.width.px]="size" [style.height.px]="size">
        <div>
          <div class="grid_row" *ngFor="let candyRow of board.grid">

            <div class="grid_cell" *ngFor="let candy of candyRow">

              <div class="tiles {{candy.type}}Tiles" id="{{candy.x}}{{candy.y}}"
                (swipeleft)="onSwipeLeft($event, candy)" (swiperight)="onSwipeRight($event, candy)"
                (swipeup)="onSwipeUp($event, candy)" (swipedown)="onSwipeDown($event, candy)"
                [@animateCandy]="candy.type"></div>
            </div>
          </div>
        </div>
        <a href="/grid/map?level={{level_id}}">Reset</a>
        <form (submit)="save()" #loginForm="ngForm">
          <button type="submit" class="button is-danger">Save Game</button>
        </form><br>

      </div>

    </div>
    id: {{this.user.user_id}} <br> email: {{this.user.email}} <br> password: {{this.user.password}} <br>totalScore:
    {{this.user.totalScore}}<br>
    <br><br><br>
    Send to DB for saved games <br>
    level_id: {{this.level_id}} <br>
    user_id: {{this.user.user_id}} <br>
    dimension: {{this.matrix}} <br>
    turnsLeft: {{this.turns}} <br>
    currentScore: {{this.score}} <br>
    scoreToBeat: {{this.scoreToBeat}} <br>
    savedGrid: {{this.savedGrid}}

    <br><br><br><br>
    <a href='/logout'>logout</a>

    <form (submit)="logout()" #loginForm="ngForm">
      <button type="submit" class="button is-danger">Logout</button>
    </form>

  </div>
  <br><br><br><br>
  <ul>
    Top 3 Leaderboard for Level {{this.level_id}} <li>ID-Score</li>
    <!-- {{this.levelLeaderboard}} -->
    <!-- whats in levelLeaderboard is an array of arrays. [ [email,score], [email2, score2]] -->
    <li *ngFor='let user of levelLeaderboard let idx= index'> <a href='/user/{{user.user_id}}'>{{user.user_id}}</a>
      &nbsp; {{user.score}}</li>
  </ul>
</div>
