
<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Candy Crush</h1>
        <a href routerLink="/grid">Grid</a>
      </div>
      <div class="level"> <a href routerLink="/grid/map">Levels</a></div>

    </div>
  </div>

  <div class="board">
      <h1>USER PROFILE!</h1>
      <p>user id: {{this.userProfile.user_id}}</p>
      <p>username: {{this.userProfile.username}}</p>
      <p>email: {{this.userProfile.email}}</p>
      <p>password: {{this.userProfile.password}}</p>

    <div *ngIf ="show" class="board-wrapper">
      <form  (submit)="update()" #loginForm="ngForm">
<br><br><br>
        <div class="login_box" >
            <div class="field">
                <p>Username</p>
                  <input type="text" name="username" class="input" [(ngModel)]="user.username" placeholder = {{this.sessionUser.username}}>
              </div>
            <div class="field1">
              <p>Email</p>
                <input type="text" name="email" class="input" [(ngModel)]="user.email" placeholder = {{this.userProfile.email}}>
            </div>
            <!-- {{user.email}} -->

             <div class="field2">
               <p>Password</p>
                <input type="text" name="password" class="input" [(ngModel)]="user.password" placeholder = {{this.userProfile.password}}>
            </div>
            <!-- {{user.password }} -->
            <div class="field3">
              <p>Password</p>
               <input type="text" name="confirmPassword" class="input" [(ngModel)]="user.confirmPassword" placeholder = {{this.userProfile.password}}>
            </div>
               <div class="login-button">
                <button type="submit" class="button is-danger">Update</button>
               </div>
        </div>
        </form>
    </div>
  </div>
  <div *ngIf ="show" class="board-wrapper">
      <form (submit)="delete()" #loginForm="ngForm">
          <button type="submit" class="button is-danger">Delete User</button>
        </form>
  </div>
  <a href ='/logout'>logout</a>

  <form (submit)="logout()" #loginForm="ngForm">
      <button type="submit" class="button is-danger">Logout</button>
    </form>
</div>


