<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
        </div>
      </div>
    </div>

    <div class="board">
     <div class="board-bar">
       <!-- <p class="board-name"><a href routerLink="register">Register</a></p>-->
      </div>
      <div class="board-wrapper">
          User in Session: <br>
          ID: {{this.user.user_id}} <br> USERNAME: {{this.user.username}} <br> EMAIL:{{this.user.email}} <br>PASSWORD:  {{this.user.password}} <br> TOTAL SCORE: {{this.user.totalScore}} <br>
          -------------------------------<br>
        <div class="grid_box board-rows">
         <div class="level1">
            <button type="submit" [routerLink]="['/grid/map']"  [queryParams]="{level: 1}" class="button is-danger">Level1</button>
         </div>

         <div class="level2">
            <button type="submit" [routerLink]="['/grid/map']"  [queryParams]="{level: 2}" class="button is-danger">Level2</button>
         </div>
         <div class="level3">
            <button type="submit" [routerLink]="['/grid/map']"  [queryParams]="{level: 3}" class="button is-danger">Level3</button>
         </div>
         <div class="level4">
            <button type="submit" [routerLink]="['/grid/map']"  [queryParams]="{level: 4}" class="button is-danger">Level4</button>
         </div>
         <div class="level5">
           <!-- alternatively we could just go to [routerLink]="['/grid/map/:id'] and grab from req.params -->
            <button type="submit" [routerLink]="['/grid/map']"  [queryParams]="{level: 5}" class="button is-danger">Level5</button>
         </div>
         <h3> TOP 5 LEADERBOARD</h3>
        <ul>
          <li>Email-ID-Score</li>
          <li *ngFor= 'let user of topFive let idx= index'> <a href = "/user/{{user.user_id}}">{{user.email}}</a> {{user.user_id}} {{user.totalScore}}</li>
        </ul>
        </div>
      </div>
      <ul>
          List of Users<li>Email-ID-Score</li>
          <li *ngFor= 'let user of users let idx= index'> <a href = "/user/{{user.user_id}}">{{user.email}}</a> {{user.user_id}} {{user.totalScore}}</li>
      </ul>
----------------------------- <br>
      <a href ='/logout'>logout</a>
      <form (submit)="logout()" #loginForm="ngForm">
        <button type="submit" class="button is-danger">Logout</button>
      </form>
------------------------------



    </div>


