<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
        </div>
      </div>
      <a href routerLink="/" class="button">Home </a>

    </div>

    <div class="board">
     <div class="board-bar">
       <!-- <p class="board-name"><a href routerLink="register">Register</a></p>-->
      </div>
      <div class="board-wrapper">
        <div class="grid_box board-rows">
         <div class="level1">
            <a href="/grid"class="button">Level 1</a>
         </div>

         <div class="level2">
            <a href="/grid"class="button">Level 2</a>
         </div>
         <div class="level3">
            <a href="/grid"class="button">Level 3</a>
         </div>
         <div class="level4">
            <a href="/grid" class="button">Level 4</a>
         </div>
         <div class="level5">
            <a href="/grid" class="button">Level 5</a>

         </div>
        </div>
      </div>
      <ul>
          <li *ngFor= 'let user of users let idx= index'> <a href = "/user/{{user.user_id}}">{{user.email}}</a> {{user.user_id}}</li>
      </ul>
      <br>
      User in Session:
      ID: {{this.user.user_id}} EMAIL:{{this.user.email}} PASSWORD:  {{this.user.password}} <br>
      <a href ='/logout'>logout</a>
      <form (submit)="logout()" #loginForm="ngForm">
        <button type="submit" class="button is-danger">Logout</button>
      </form>
    </div>
