.root {
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#f71372, #a42af5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board{
  // Override Automatic Minimum Size
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
  min-height: 0;
  .board-bar{
      background: rgba(gray,0.5);
      padding: 8px 15px;
      height: 15px;

      .board-name {
          font-size: 20px;
          font-weight: bold;
          color: rgb(255,255,255);
      }
  }
}

.board-wrapper {
  display: flex;
  flex-direction: row;
}

.grid_box{

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 300px;
  width: 385px;
  height: 440px;
  background: rgba(white,0.5);
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin: auto;


}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
.btn-group li {
  list-style-type: none;
}

.users{
  float:right;

}
.leaderboard{
  float:right;

}
.session{
  color: pink;
}
