
.mat-dialog-actions{
  justify-content: flex-end;
}
.dialogBoxRoot{
   background-color:white;
}

.mat-dialog-content {
  max-height: initial !important;
}
.dialog{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:green
}
