<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
          <a href = '/'> Home</a>
        </div>
      </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name"> <a href routerLink="/register" >Register</a></p>
        </div>
        <div class="board-wrapper">
            <form  (submit)="login()" #loginForm="ngForm">

            <div class="login_box" >
                <div class="field">
                  <p>Username/Email</p>
                    <input type="text" name="email" class="input" [(ngModel)]="user.email">
                </div>
                {{user.email}}

                 <div class="field1">
                   <p>Password</p>
                    <input type="text" name="password" class="input" [(ngModel)]="user.password">
                </div>
                {{user.password }}

                   <div class="login-button">
                    <button type="submit" class="button is-danger">Login</button>
                   </div>
            </div>
            </form>

        </div>
    </div>
  </div>
